body{
    width: 70%;
    margin: auto;
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}
td{
	padding: 10px;
}
input, button{
	border-radius: 3px;
	padding: 10px;
	border: 1px solid gray;
}
#error, #error_empty{
	color: red;
	margin-left: 5px;
	font-size: 13px;
}
button{
	background: blue;
	color: #fff;
	border: 1px solid blue;
}